# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

#FILES FOR INTELLIJ IDEA
#=======================
**/.idea/workspace.xml 
**/.idea/tasks.xml
**/.idea/uiDesigner.xml
**/.idea/gradle.xml
**/.idea/modules.xml
**/.idea/deployment.xml
**/.idea/discord.xml
**/.idea/shelf
**/.idea/libraries-with-intellij-classes.xml
**/.idea/php.xml
**/.idea/copilot/

#FILES FOR GRADLE
#=======================
.gradle
/build/
**/build/

#FILES FOR MCREATOR DEV WORKSPACE
#===============================
/jdk/
/logs

#SYSTEM AND JAVA FILES
#=====================
Thumbs.db
debug.log
hs_err_pid*

#MACOS
#=====================
.DS_Store
.AppleDouble
.LSOverride
/.idea/runConfigurations.xml