* @zuedev

/source/neoforge/src/main/resources/assets/big_tasty_additions/textures/item/peeled_apple.png @miiirj

/source/neoforge/src/main/resources/assets/big_tasty_additions/textures/item/apple_slices.png @H4n-Z8
